<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jvt.microservice.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.jvt.microservice.domain.User">
        <result column="CODE" property="code"/>
        <result column="NAME" property="name"/>
        <result column="PWD" property="pwd"/>
        <result column="SALT" property="salt"/>
        <result column="EMAIL" property="email"/>
        <result column="ROLE_ID" property="roleId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,code,name,pwd,salt,email,role_id as roleId,state,sort,add_time as addTime
    </sql>
    <select id="getInfo" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from DT_USER
        <where>
            id = #{id}
        </where>
    </select>

    <select id="getInfoByAccount" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from DT_USER
        <where>
            name = #{account} or email=#{account}
        </where>
    </select>

    <select id="getList" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from DT_USER
        <where>
            <if test="keyword!=null">
                name like #{keyword}
            </if>
        </where>
    </select>
    <insert id="addInfo" parameterType="com.jvt.microservice.domain.User">
        insert into DT_USER(id,code,name,pwd,salt,email,role_id,state,sort,add_time)
        values(#{id},#{code},#{name},#{pwd},#{salt},#{email},#{roleId},#{state},#{sort},#{addTime})
     </insert>
    <update id="updateInfo" parameterType="com.jvt.microservice.domain.User">
        update DT_USER
        <set>
            code=#{code},name=#{name},pwd=#{pwd},salt=#{salt},email=#{email},role_id=#{roleId},state=#{state},sort=#{sort}
        </set>
        <where>
            id=#{id}
        </where>
    </update>
    <delete id="delInfo" parameterType="java.lang.String">
        delete from DT_USER
        <where>
            id=#{id}
        </where>
    </delete>
</mapper>